    </div>
    </main>
  </div>
 
    <footer class="page-footer indigo darken-3">
          
          <div class="footer-copyright">
            <div class="container">
            <p class="center-align">Created by: <a class="grey-text text-lighten-4" href="https://github.com/alan2207" target="_blank">Alan</a></p>
            </div>
          </div>
        </footer>
    <script type="text/javascript" src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/bower_components/materialize/dist/js/materialize.min.js"></script>
    <script type="text/javascript" src="/bower_components/simplemde/dist/simplemde.min.js"></script>
    <script src="/bower_components/highlightjs/highlight.pack.min.js"></script>
    <script type="text/javascript" src="/js/main.js"></script>
  </body>
</html>
